{% extends 'base.html' %} {% block title %} {{title}} {% endblock %} {% block
header %} {{header}} {% endblock %} {% block content %}

<div>
    <form action="/users/new" method="post">
        <p>
            First Name:
            <input
                type="text"
                name="first-name"
                placeholder="Enter a first name"
            />
        </p>
        <p>
            Last Name:
            <input
                type="text"
                name="last-name"
                placeholder="Enter a last name"
            />
        </p>
        <p>
            Image Url:
            <input
                type="text"
                name="image-url"
                placeholder="Provide an image of this user"
            />
        </p>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>

{% endblock%}
