{% extends 'base.html' %} {% block title %} {{title}} {% endblock %} {% block
header %} {{header}} {% endblock %} {% block content %}

<div>
    <img src="{{ image_url }}" width="200px" alt="profile_pic" />
    <br>
    <button type="submit" class="btn btn-primary">
        <a href="/users/{{user_id}}/edit" style="color: white">Edit</a>
    </button>
    <form action="/users/{{user_id}}/delete" method="post">
        <button type="submit" class="btn btn-danger">
            Delete
        </button>
    </form>
</div>
<div>
    <h3>Posts</h3>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">
        <a href="/users/{{user_id}}/posts/new" style="color: white">Add Post</a>
    </button>

</div>
</div>
{% endblock%}
